.bet-icon {
    display: inline-block;
    height:32px;
    width:32px;
    background-size:32px;
}
.ITA {
    background-image:url(icons/Italy.png);
}
.ENG {
    background-image:url(icons/England.png);
}
.SUI {
    background-image:url(icons/Switzerland.png);
}
.BEL {
    background-image:url(icons/Belgium.png);
}
.DEN {
    background-image:url(icons/Denmark.png);
}
.UKR {
    background-image:url(icons/Ukraine.png);
}
.CZE {
    background-image:url(icons/Czech Republic.png);
}
.ESP {
    background-image:url(icons/Spain.png);
}
